<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">
  <test verbose="2" name="Default test">
    <classes>
      <class name="test.mvn.Calc_TestNG">
        <methods>
          <include name="add"/>
          <include name="subtract"/>
          <include name="multiply"/>
          <include name="divide"/> <!-- skip testing this method-->
        </methods>
      </class> <!-- Calc_TestNG -->
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
